Flask
Flask-Admin
Flask-Login
Flask-SQLAlchemy
Flask-WTF
Werkzeug
email-validator
itsdangerous
Jinja2
MarkupSafe
SQLAlchemy
WTForms
click
dnspython
greenlet
idna
importlib-metadata
typing-extensions
zipp
